<div class="container">
    <div class="carousel-container">
        <ngb-carousel *ngIf="images">
            <ng-template ngFor let-image [ngForOf]="images">
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                <img [src]="image.backdrop_path ? 'https://image.tmdb.org/t/p/original/' + image.backdrop_path : 'https://via.placeholder.com/150'" alt="Movie backdrop" />
                <div class="carousel-caption">
                    <h3>{{ image.title }}</h3>
                </div>
                </div>
            </ng-template>
            </ng-template>
        </ngb-carousel>
    </div>
</div>
