<div class="container">
    <div class="d-flex justify-content-center mt-2">
        <ngb-pagination [collectionSize]="actorCount" [pageSize]="20" [maxSize]="5" [rotate]="true"
            [directionLinks]="false" [(page)]="currentPage" (pageChange)="loadNewPage()"
            class="align-self-centers paginacion" aria-label="Default pagination">
        </ngb-pagination>
    </div>
    <div class="container">
        <div class="row col-12">
            <app-actor-item *ngFor="let a of actorList" [actor]="a" class="col-3"></app-actor-item>
        </div>
    </div>
</div>