<nav>
    <div class="vertical-nav" id="sidebar">
        <div class="py-4 px-3 mb-4">
            <div class="media d-flex align-items-center"><img src="../../../assets/img/icon.jpg" alt="..." width="65"
                    class="mr-3 rounded-circle img-thumbnail shadow-sm">
                <div class="media-body">
                    <h4>Cinephile´s Corner</h4>
                </div>
            </div>
        </div>

        <p class="text-gray font-weight-bold px-3 pb-4 mb-0">Menu</p>

        <ul class="nav flex-column mb-0">
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor"
                        class="bi bi-house-door" viewBox="0 0 16 16">
                        <path
                            d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146ZM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5Z" />
                    </svg>
                    <span class="align-title">Home</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link font-italic">
                    About
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link font-italic">
                    <i class="fa fa-cubes mr-3  fa-fw"></i>
                    Services
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link font-italic">
                    <i class="fa fa-picture-o mr-3  fa-fw"></i>
                    Gallery
                </a>
            </li>
        </ul>

        <p class="text-gray font-weight-bold px-3    py-4 mb-0">Library</p>

        <ul class="nav flex-column mb-0">
            <li class="nav-item">
                <a href="#" class="nav-link font-italic">
                    <i class="fa fa-area-chart mr-3 fa-fw"></i>
                    Area charts
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link font-italic">
                    <i class="fa fa-bar-chart mr-3  fa-fw"></i>
                    Bar charts
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link font-italic">
                    <i class="fa fa-pie-chart mr-3 text-primary fa-fw"></i>
                    Pie charts
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link font-italic">
                    <i class="fa fa-line-chart mr-3  fa-fw"></i>
                    Line charts
                </a>
            </li>
        </ul>
    </div>
</nav>