<app-nav-bar></app-nav-bar>
<div>
  <div class="fondo" [ngStyle]="{ 'background-image': 'url(' + urlBgImage() + ')' }">
  <div class="container">
    <div class="row ">
      <div class="col-3"><img [src]="urlImage()" alt="" width="100%" /></div>
      <div class="col-9 ps-5">
        <div class="titulo mt-5">
          <h1>
            {{ movie.original_title }} <span>({{ getReleaseYear() }})</span>
          </h1>
        </div>
        <p class="mb-5">{{ getGenreNames() }}</p>
        <div class="d-flex">
          <div class="col-1">
            <circle-progress
              [percent]="movie.vote_average * 10"
              [radius]="100"
              [animation]="true"
              [animationDuration]="300"
            ></circle-progress>
          </div>
          <div class="ms-3">
            <button type="button" class="btn boton-trailer">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="40"
                height="40"
                fill="currentColor"
                class="bi bi-play-fill"
                viewBox="0 0 16 16"
              >
                <path
                  d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"
                />
              </svg>
              Ver trailer
            </button>
          </div>
          <div></div>
        </div>
        <div class="row">
          <div class="col-3">
            <h4>{{ getDirectorName()[0].name }}</h4>
            <h4>Director</h4>
          </div>
          <div class="col-3">
            <h4>{{ movie.original_language }}</h4>
            <h4>Original language</h4>
          </div>
          <div class="col-3">
            <h4>{{ movie.budget }}</h4>
            <h4>Budget</h4>
          </div>
          <div class="col-3">
            <h4>{{ movie.revenue }}</h4>
            <h4>Revenue</h4>
          </div>
        </div>
        <h3>Overview:</h3>
        <p>{{ movie.overview }}</p>
      </div>
    </div>
    <div
      class="list-group list-group-horizontal position-relative overflow-auto w-100"
    >
      <app-movie-item
        class="list-group-item"
        *ngFor="let m of movieList"
        [movie]="m"
        [genres]="genres"
      ></app-movie-item>
    </div>
  </div>
</div>

</div>
